.educ-info-entry {
	border: 2px solid #000;
	border-radius: 0.25rem;
	padding: 0.25rem;
	font-family: "Rubik";
	font-size: 1.5vmin;
}
.educ-info-entry img{
	width: 5.5%;
}
#edit-educ-info-btn {
	width: 5.5%;
	border: none;
	background-color: transparent;
}
#edit-educ-info-btn img {
	width: 100%;
}
.educ-info-entry-header {
	display: flex;
	font-family: "Rubik";
	font-size: 2vmin;
	align-items: center;
	justify-content: space-around;
}
.educ-info-form{
	animation: expand 250ms ease 1;
	transform-origin: top;
}
.educ-entry-buttons-space {
	margin-top: 1vmin;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.educ-entry-button {
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-width: 30%;
}
.educ-entry-button span {
	font-size: 1.25vmin;
}
.educ-entry-button img {
	width: 35%;
}