.personal-detail-entry {
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 1vmax;
    column-gap: 1vmin;
  }
  .personal-detail-entry img {
    width: 2.5%;
    margin-right: 0.75vmin;
  }
  #full-name-display {
    font-size: 2vmax;
    font-weight: 900;
    justify-content: center;
  }
  #job-title-display {
    font-size: 1.25vmax;
    justify-content: center;
  }
  .contact-details-space{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: center;
    margin-left: 37.5%;
  }