@font-face {
  font-family: "Beaufort";
  src: url(../fonts/Beaufort-Regular.ttf);
}
@font-face {
  font-family: "Spiegel";
  src: url(../fonts/Spiegel-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  max-width: 100vw;
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(226, 226, 226);
}