.workexp-entry-display {
    margin-inline: 0.5vmax;
    margin-block: 0.5vmax;
    text-align: left;
    max-width: 40%;
}
.workexp-info-entry-title {
    font-weight: 700;
    font-size: 1vmax;
}
.workexp-info-additional-details {
    font-size: 0.75vmax;
}
.jobtasks-list{
    list-style-type: circle;
    margin-left: 2.75vmin;
}