button {
  max-width: fit-content;
  min-height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  font-family: "Rubik";
  font-size: 1.25vmin;
}
  button img {
    width: 25%;
  }
  