form, fieldset {
    display: flex;
    flex-direction: column;
    padding: 1vmax;
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
}
.input-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100%;
    margin: 0.5vmin 0;
}
label{
    text-align: left;
    font-size: 1vmax;
    font-family: "Rubik";
    max-width: 100%;
    width: 100%;
}
input,
textarea{
    border: 2px rgb(185, 185, 185) solid;
    border-radius: 0.25rem;
    width: 100%;
    line-height: 1.5vmax;
    font-family: "Rubik";
    font-size: 1.5vmin;
    padding: 0.5vmin;
}
  *::placeholder{
    color: rgb(163, 161, 161);
}