* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html, body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  font-size: 12px;
}

#root{
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  place-items: center;
  place-content: center;
}

.component-tester {
  min-height: 75vh;
  width: 75vw;
  background-color: #DDDDDD;
  border: 5px solid black;
}

.product-card-temporary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  height: 50vh;
  margin: 1rem;
  border: 2px solid black;
}