* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;  
}

#root{
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  place-items: center;
  place-content: center;
}

.component-tester {
  height: 75vh;
  width: 75vw;
  background-color: gray;
  border: 5px solid black;
}