/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    width: 12.5vmax;
    height: 20vmax;    
    perspective: 1000px;
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border: 2.5px solid transparent;
    border-image: linear-gradient(to bottom, #c8aa6d, #7a5c29);
    border-image-slice: 1;
    border-width: 2.5px;
    border-style: solid;
    border-radius: 20px;
    background-origin: border-box;
    background-clip: content-box, border-box;
    border: double 4px transparent;
  border-radius: 80px;
  background: linear-gradient(white, white), linear-gradient(to bottom, #c8aa6d, #7a5c29);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    border: 2px solid blue;
    border-radius: 20px;
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  .flip-card-front img, .flip-card-back img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
  }
  /* Style the back side */
  .flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  }